@import url('https://fonts.googleapis.com/css2?family=Open+Sans+Condensed&display=swap');

* {
  margin: 0;
  padding: 0;
  font-family: 'Open Sans Condensed', sans-serif;
  text-decoration: none;
}

.navbarClient {
  background-color: #3EC0B8;
  color: black;
  height: 65px;
  font-size: 25px;
  padding-left: 20px;
  display: flex;
  align-items: center;
}

.navbarAdmin {
  background-color: #3EC0B8;
  color: black;
  height: 65px;
  font-size: 25px;
  padding-left: 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.right {
  padding-right: 20px;
}

.footer {
  background: #576064;
  color: white;
  height: 3.3rem;
  font-size: 12px;
  padding-left: 5px;
  position: fixed;
  bottom: 0px;
  width: 100%;
}

.signupButton {
  background-color: #7FE7EE;
  color: white;
  font-size: 20px;
  border-radius: 10px;
}

.acceptTableNumber{
  background-color: #E2B4B4;
  color: black;
  font-size: 20px;
  border-radius: 10px;
  width: 20%;
  margin: 2.5rem auto;
  padding: 0.5rem 4rem;
  box-shadow: 2px 1px 1px #8d868681, 0px 0px 1px #5e5c5c;
}

.tableBG {
  background-image: url('./images/vista-superior-arriba-mesa-madera-vacia-oficina_101296-17.jpg');
  background-size: cover;
  border-radius: 20px;
  margin:2% 50% 0 50%;
  padding: 60px 60px;
  box-shadow: 2px 1px 1px #490000, 0px 0px 1px #620000;
}